<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <% if !current_user %>
        <h1>Log in</h1>

        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>

          <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>

          <%= f.submit "Log in", class: "btn btn-default" %>
        <% end %>
      <% else %>
        <span>You're already logged in, genius.</span>
      <% end %>
    </div>
  </div>
</div>
