<%= form_for @post do |f| %>
  <%= render 'error_messages' %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <div id="topic-select">
    <%= f.label :choose_from_existing_topics %>
    <%= f.select :topic, Post.topics, include_blank: true %>
  </div>

  <%= f.label :new_topic %>
  <input type="text" name="post[new_topic]" id="post_new_topic">

  <%= f.submit %>
<% end %>
