<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_for @post do |f| %>

        <%= render 'error_messages' %>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group" id="topic-select">
          <%= f.label :choose_from_existing_topics %>
          <%= f.select :topic, Post.topics, include_blank: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :new_topic %>
          <input type="text" name="post[new_topic]" id="post_new_topic" class="form-control">
        </div>

        <%= fields_for :tags do |tag_fields| %>
          <div class="form-group" id="tag-select">
          <!-- TODO - figure out why f.select doesn't seem to work with multiple: true -->
            <%= f.label :"existing_tags:" %>
            <br>
            <% Tag.names.each do |tag| %>
              <label class="checkbox-inline">
                <%= tag_fields.check_box tag %> <%= tag %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <%= tag_fields.label :new_tags %>
            <%= tag_fields.text_area :new_tags, class: "form-control" %>
          </div>
        <% end %>

        <%= fields_for :authors do |author_fields| %>
          <div class="form-group">
            <%= author_fields.label :"co-author" %>
            <%= author_fields.collection_select(
              :"co-author",
              Author.other_than(current_user),
              :id,
              :to_s,
              include_blank: true,
              class: "form-control"
            ) %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, class: "form-control", rows: "25" %>
        </div>

        <%= f.submit class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
