<%= link_to("New post", new_post_path) %>

<% @topics.each do |topic| %>
  <div id="<%= topic.parameterize %>">
    <h2><%= topic %></h2>
    <ul>
      <% Post.in_topic(topic).each do |post| %>
        <li>
          <p><%= link_to post.title, post_path(post) %></p>
          <p><%= "Posted on #{post.international_date}" %></p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="tags">
  <h3>View posts by tag</h2>
  <% @tags.each do |tag| %>
    <span><%= tag %></span>
  <% end %>
</div>
