<%= form_for @post do |f| %>
  <%= render 'error_messages' %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <div id="topic-select">
    <%= f.collection_select :topic_id, Topic.all, :id, :title %>
  </div>

  <%= f.submit %>
<% end %>
