<!-- TODO add tooltips -->
<!-- TODO fit long post titles onto mobile screen -->

<%= content_for :page_title do %>
  <%= @post.call_original :title %>
<% end %>

<%= content_for :page_name do %>
  <%= @post.title %>
<% end %>
<div id="testy"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <article>
        <%= @post.body %>
      </article>
      <div id="disqus_thread"></div>

      <script>
        // Boilerplate. Admin page at https://valence-utilitarianism.disqus.com/admin/moderate/


        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
          this.page.url = '<%= post_url(@post) %>';
          this.page.identifier = '<%= @post.friendly_id %>';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//valence-utilitarianism.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




    </div>
    <div class="col-sm-2 well">
      <h4>Topic</h4>
      <%= @post.topic %>
      <h4>Tags</h4>
      <%= @post.list_tags %>
      <p><%= link_to_if(current_user, 'Edit post', edit_post_path(@post)) {} %></p>
      <p><%= link_to_if current_user, 'Delete post',
          post_path(@post),
          method: :delete,
          data: { confirm: 'Definitely delete?' } {}
      %></p>
      <hr>
      <h4>Published</h4>
      <%= @post.published_on %>
    </div>
  </div>
</div>
