<!-- TODO add tooltips -->
<!-- TODO fit long post titles onto mobile screen -->

<%= content_for :page_title do %>
  <%= @post.call_original :title %>
<% end %>

<%= content_for :page_name do %>
  <%= @post.title %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <article>
        <%= @post.body %>
      </article>
    </div>
    <div class="col-sm-2 well">
      <h4>Topic</h4>
      <%= @post.topic %>
      <h4>Tags</h4>
      <%= @post.list_tags %>
      <p><%= link_to_if(current_user, 'Edit post', edit_post_path(@post)) {} %></p>
      <p><%= link_to_if current_user, 'Delete post',
          post_path(@post),
          method: :delete,
          data: { confirm: 'Definitely delete?' } {}
      %></p>
    </div>
  </div>
</div>
