<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <div class="author-pane">
      <%= link_to 'Log out', logout_path, method: :delete %>
    </div>
  <% end %>

  <% flash.each do |_, message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
